body{
    background: #0D0846;
}

#foto_profil{
    width: 382px;
    height: 382px;
}

#tagline_table{
    margin-top: 50px;
    margin-left:150px;
}

th {
    padding-left: 70px;    
}

h1 {
    font-size: 72px;
    color: #F2F2F2;    
}

p{
    font-size: 36px;
}

#description_table{
    margin-bottom: 50px;
}

td#description_table{
    padding-left: 45px;
}

.description_box{
    margin-top: 50px;
    width: 389px;
    height: 404px;
    background: #E5E5E5;
    box-shadow: 4px 0px 20px rgba(255, 255, 255, 0.5);
}

h2.description_text{
    padding: 20px;
    font-size: 42;
    font-weight: 600;
}

ul.description_text{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 36;
    font-weight: normal;
}

p.description_text{
    font-size: 24px;
    font-weight: normal;
}

#logo_table{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 32%;
}

#logo_column{
    padding-right: 115px;
}

.logo{
    width: 80px;
    height: 80px;
}

#h_ani{
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#h_ani_right{
    position: relative;
    opacity: 0;

    animation-name: slide2;
    animation-duration: 1s;
    animation-delay: 2s;
    padding-left: 80%;
    animation-fill-mode: forwards;
}

#box_ani{
    position: relative;
    opacity: 0;

    animation-name: slide;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#animu_pic_cont{
    position: relative;
    bottom: 65%;
    left: 140%;
}

.animu_pic{
    position: relative;
    opacity: 0;

    animation-name: slide3;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    box-shadow: 4px 0px 20px rgba(255, 255, 255, 0.5);
}

#shiki.animu_pic{
    animation-delay: 3s;
}

#riamu.animu_pic{
    animation-delay: 3.2s;
}

#ranko.animu_pic{
    animation-delay: 3.5s;
}

#shiki_text.animu_pic{
    color: #E5E5E5;
    animation-delay: 3.1s;
    box-shadow: initial;
}

#riamu_text.animu_pic{
    color: #E5E5E5;
    animation-delay: 3.3s;
    box-shadow: initial;
}

#ranko_text.animu_pic{
    color: #E5E5E5;
    animation-delay: 3.6s;
    box-shadow: initial;
}

@keyframes slide{
    0% {
        left:0px;
        opacity: 0;
    }
    100% {
        left: 100px;
        opacity: 1;
    }
}

@keyframes slide2{
    0%{
        right: 0px;
        opacity: 0;
    }

    100%{
        right: 100px;
        opacity: 1;
    }
}

@keyframes slide3{
    0%{
        right: 0px;
        opacity: 0;
    }

    100%{
        right: 100px;
        opacity: 1;
    }
}